*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counterAppContainer{
    background-color:#403F4C;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}

.counterAppContainer h1{
    color: #FFFEFF;
    font-size: 2rem;
}

.count{
    font-size: 4rem;
    color: #FFFEFF;
    font-weight: 700;
}

hr{
    width: 90%;
}

button{
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

.buttonsContainer{
    display: flex;
    gap: 25px;
}

.subtract{
    background-color: #D741A7;
    color: #FFFEFF;
}

.reset{
    background-color: #5398BE;
    color: #FFFEFF;

}

.add{
    background-color: #DEA54B;
    color: #FFFEFF;

}